{{#partial "content"}}

    <h1>Add a Comment!</h1>

    <form action="/comments/new" method="post">
        <label for="beer">Which Beer?</label>
        <select class="form-control" id="beer" name="beer">
            <option value="0">Mamba Spiced Ale</option>
            <option value="1">Raspberry Crush Sour</option>
            <option value="2">Mango Cart Wheat Ale</option>
            <option value="3">Sang Noir Sour</option>
            <option value="4">Avatar Jasmine IPA</option>
            <option value="5">Five Pine Chocolate Porter</option>

        </select>

        <label for="name">Your Name</label>
        <input id="name" name="name" type="text">

        <label for="comment">what do you think?</label>
        <input id="comment" name="comment" type="text">

        <button type="submit" class="btn btn-default">Add your thoughts!</button>
    </form>
{{/partial}}

{{> layout.hbs}}